{% extends "base.html" %}

{% block content %}

    <h2>{{ artist.name }}</h2>
    <div><p><b>Hometown:</b> {{ artist.hometown }}</p></div>
    <div><p><b>Description:</b> {{ artist.description }}</p></div>

    <h3>Events:</h3>
    <ul>
       {% for event in events %}
        <li><b>{{ event.title }}</b> at the <b>{{ event.venue.placename }}</b>
            on <b>{{event.date.strftime('%m/%d/%y, at %I:%M%p')}}</b></li>
       {% endfor %}
    </ul>

    {% if not events %}
        <div><p>No Upcoming Events</p></div>
    {%  endif %}

{% endblock %}
</body>
</html>