<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Ithaca Music</title>
        {% endif %}
</head>
<body>
    <div>
        <a href="{{ url_for('index') }}"><b>Ithaca Music:</b></a>
        {% if current_user.is_anonymous %}
            <a href="{{ url_for('allArtists') }}">Artists</a>
            <a href="{{ url_for('login') }}"><b>Login</b></a>
            {% else %}
            <a href="{{ url_for('allArtists') }}">Artists</a>
            <a href="{{ url_for('newArtist') }}">New Artist</a>
            <a href="{{ url_for('newVenue') }}">New Venue</a>
            <a href="{{ url_for('newEvent') }}">New Event</a>
            <a href="{{ url_for('logout') }}"><b>Logout</b></a>
            {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>